html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: floatStar linear infinite;
}

@keyframes floatStar {
  0% { transform: translate(0,0); opacity: 0.5; }
  50% { opacity: 1; }
  100% { transform: translate(50px, 50px); opacity: 0.5; }
}



